.orderTable{
    border: 1px solid #000000;
        width: 100%;
}
.orderTable th,
.orderTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #000000;
}
.orderItemDeleteBtn{
    background-color : red;
    border-radius: 5px;
    color : white;
    border : none;
    padding: 3px;
}
.orderItemDeleteBtn:hover{
    background-color: rgb(206, 0, 34);
}
.orderTableWrap {
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.orderTableWrap::-webkit-scrollbar {
    display: none;
}