.Advantage {
    p {
        line-height: 19.5px;
        font-size: 14px;
    }
}

.AdvantageImg {
    background-image: url("https://images.unsplash.com/photo-1532015917327-c7c46aa1d930?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2053&q=80");
    background-size: cover;
    background-position: center center;
    height: 400px;
}

.AdvantageImg2 {
    background-image: url("https://images.unsplash.com/photo-1592928230658-87ab4b4141a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    background-position: center center;
    height: 400px;
}

.AdvantageImg3 {
    background-image: url("https://images.unsplash.com/photo-1644940620788-5ae8498b39fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-size: cover;
    background-position: center center;
    height: 400px;
}

.AdvantageAbs {
    position: absolute;
    width: 230px;
    height: 258px;
    left: -2%;
    // right: 0;
    bottom: 0;
    top: 23.5%;
    z-index: -1;
}
@media (max-width: 767.98px) {
    .AdvantageAbs {
            top: 15%;
            left: -15%;
        }
}