.choosing {
    // border: 1px solid gray;
    border-radius: 40px;
    position: relative;
        overflow: hidden;
        line-height: 19.2px;
        background: #FFFFFF;
            box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.04);
            border-radius: 40px;
}

.choosingImg {
    background-image: url("https://images.unsplash.com/photo-1651185474204-755539a9c547?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2127&q=80");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.choosingSmImg {
    background-image: url("https://images.unsplash.com/photo-1651185474204-755539a9c547?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2127&q=80");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 370px;
    border-radius: 8px;
}

.choosingImg2 {
    background-image: url("https://images.unsplash.com/photo-1535036997436-f088d7774803?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.choosingSmImg2 {
    background-image: url("https://images.unsplash.com/photo-1535036997436-f088d7774803?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 370px;
    border-radius: 8px;
}
.choosingAbs {
    position: absolute;
    width: 445px;
    height: 500px;
    right: -4%;
    top: -14%;
    transform: rotate(360deg);
    // left: 0;
}

@media (max-width: 767.98px) {
    .choosingAbs {
            width: 230px;
            height: 265px;
            top: -6.5%;
            right: -6%;
            transform: rotate(180deg);
            z-index: -1;
        }
}