.navbarBtn:focus {
    outline: none !important;
    border: 0 !important;
}

.hanburgerBtm {
    border: 0;
    background: white;
    // transition-duration: 3000s !important;
}

.dropdownBtn {
    a:hover {
        color: #087BE6;
        background-color: white !important
    }
}

@media (max-width: 767.98px) {
    .dropdownBtn {
        border: none;
    }

    .navbar-Custom {
        z-index: 100;
        position: absolute;
        right: 0;
        top: 100%;
        left: 0;
        background: white;
        margin: 0 15px;
        height: 92vh;
        transition: height 0.5s;
    }

    .loginBtn {
        position: absolute;
        width: 100%;
        bottom: 0;
        // top: 0;
        left: 0;
        right: 0;
        height: 40px;
    }

    .navSmRwdLine {
        padding-left: 16px;
        position: relative;
    }

    .navSmRwdLine::before {
        content: "";
        position: absolute;
        left: 0;
        width: 4px;
        height: 156px;

        /* Neutral/40 */

        background: #ECECEC;
        border-radius: 10px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
}