ul li{
    list-style: none;
}
a{
    text-decoration: none
}
body{
    font-family: 'poppins';
    font-weight: 600;
}
@media (max-width: 575.8px) {
    h1{
       font-size: 40px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 20px;
    }
}

//starIcon color
.fa-star{
    color : gold
}
.text-yellow{
    color: gold;
}
.outSideLine {
    height: 3rem;
    line-height: 48px;
}
@media (max-width: 767.98px) {
    .outSideLine {
            height: 40px;
        }
}